/Charat.class
/ConcatStrings.class
/Contains.class
/Demo1.class
/Demo2.class
/EndsWith.class
/EqualOperator.class
/Equals.class
/EqualsIgnoreCase.class
/IndexOf.class
/Lowercase.class
/ReplaceMethod.class
/ReverseString.class
/SpaceRemoval.class
/StartsWith.class
/StringLength.class
/SubstringMethod.class
/SwapString.class
/Trim.class
/UpperCase.class
/ValueOf.class
